<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<p>Pregunta: <%= quiz.pregunta %></p>
	<div>
		<input type="text" name="respuesta" value="Respuesta" />
	</div>
	<br>
	<div>
		<input type="submit" value="Enviar">
	</div>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for (index in quiz.comments) { %>
	<% if (quiz.comments[index].publicado || session.user) { %>
	<p>- <%= quiz.comments[index].selectedValues.texto %>
		<% if (quiz.comments[index].publicado && session.user) { %>
			<a href="/quizes/<%= quiz.id %>/comments/<% quiz.comments[index].id %>/publish">
				<button>Publicar</button>
			</a>
		<% } %>
	</p>
	<% } %>
<% } %>
