<h2>Estadísticas</h2>

<table>
	<tr>
		<td>Número de preguntas</td>
		<td><%= stats.numQuestions %></td>
	</tr>
	<tr>
		<td>Número de comentarios</td>
		<td><%= stats.numComments %></td>
	</tr>
	<tr>
		<td>Comentarios por pregunta</td>
		<td><%= stats.avgComments %></td>
	</tr>
	<tr>
		<td>Preguntas sin comentarios</td>
		<td><%= stats.numQuestionsWithoutComments %></td>
	</tr>
	<tr>
		<td>Preguntas con comentarios</td>
		<td><%= stats.numQuestionsWithComments %></td>
	</tr>
</table>
